@media screen and (min-width: 576px){

/* HEADER */
    .main-header{
        padding-top: 70px;
    }


/* Section .groomsmen-bridesmaids */

    .groomsmen-bridesmaids img.rounded-circle{
        width: 300px;
    }
}

@media screen and (min-width: 768px){

/* HEADER */
    .main-header{
        padding-top: 165px;
    }

/* Section .hashtag */
    .hashtag h6{
        font-size: 20px;
    }

/* Section .groomsmen-bridesmaids */
    .groomsmen-bridesmaids h6,
    .bestman h6,
    .matron-maid h6{
        font-size: 16px;
    }
}


