body{
    font-family: "Ms Madi", cursive;
    font-weight: 400;
    font-style: normal;
    background-image: url("../texts/sfondo\ KIM_page-0001.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  